<mat-toolbar>
  <span>KVM Switch Configurator</span>
  @if (!kvmSwitchState.isConnected()) {
    <button color="primary" mat-button (click)="kvmSwitchState.connectToKvm()">
      Connect to KVM
    </button>
  } @else {
    <button color="primary" mat-button (click)="kvmSwitchState.refresh()">
      Refresh
    </button>
    <button color="primary" mat-button (click)="kvmSwitchState.connectToKvm()">
      Select another KVM
    </button>
  }
</mat-toolbar>
<div class="content">
  <section class="keyboard-shortcuts">
    <app-keyboard-shortcuts-panel />
  </section>

  <div class="side">
    <section class="general-config">
      <app-general-config-panel />
    </section>
    <section class="computer-states">
      <app-nodes-panel />
    </section>

    <section class="hid-devices">
      <app-hid-devices-panel />
    </section>
  </div>

  <section class="logs">
    <app-kvm-logs-panel />
  </section>

</div>

