
<table class="logs-table mat-shadow-2">
  <thead>
    <tr>
      <td>Time (µs)</td>
      <td>Level</td>
      <td>Message</td>
    </tr>
  </thead>
  <tbody>
    @for (log of logs(); track $index) {
      <tr>
        <td [matTooltip]="$index > 0 ? 'Diff: ' + (log.timestamp - logs()[$index - 1].timestamp).toString()  + ' µs': undefined">{{log.timestamp | bigint}}</td>
        <td class="log-level log-level-{{logLevelToString(log.logLevel)}}">{{logLevelToString(log.logLevel)}}</td>
        <td>[{{log.function}}:{{log.line}}] {{log.message}}</td>
      </tr>
    }
  </tbody>
</table>
