@let action = actions[shortcut().action];
@let actionDescription = action?.formatDescription?.(shortcut().data);
<div class="shortcut">
  <div class="shortcut-keys">
    @for (keyCode of shortcut().keys; track $index) {
      <app-shortcut-key [keyCode]="keyCode" />
    }
  </div>
  {{ actionDescription ?? action.name }}
  <span class="separator"></span>
  <button mat-icon-button (click)="openEditShortcut()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="deleteShortcut.emit(shortcut())">
    <mat-icon>delete</mat-icon>
  </button>
</div>
