<mat-form-field>
  <mat-label>Min Log Level</mat-label>
  <mat-select [(ngModel)]="minLogLevel">
    <mat-option [value]="KvmLogLevel.Debug">Debug</mat-option>
    <mat-option [value]="KvmLogLevel.Info">Info</mat-option>
    <mat-option [value]="KvmLogLevel.Warning">Warning</mat-option>
    <mat-option [value]="KvmLogLevel.Error">Error</mat-option>
    <mat-option [value]="KvmLogLevel.Critical">Critical</mat-option>
  </mat-select>
</mat-form-field>
<mat-checkbox [(ngModel)]="showTimestamp">
  Show timestamp
</mat-checkbox>
<table class="logs-table mat-shadow-2">
  <thead>
    <tr>
      <td>
        @if (showTimestamp()) {
          Time (µs)
        } @else {
          Time
        }
      </td>
      <td>Level</td>
      <td>Message</td>
    </tr>
  </thead>
  <tbody>
    @for (log of filteredLogs(); track $index) {
      <tr>
        <td class="timestamp" [matTooltip]="$index > 0 ? 'Diff: ' + (log.timestamp - logs()[$index - 1].timestamp).toString()  + ' µs': undefined">
          @if (showTimestamp()) {
            {{log.timestamp | bigint}}
          } @else {
            {{convertTimestampToDate(log.timestamp) | date:'yyyy-MM-dd hh:mm:ss.SSS'}}
          }
        </td>
        <td class="log-level log-level-{{logLevelToString(log.logLevel)}}">{{logLevelToString(log.logLevel)}}</td>
        <td>[{{log.function}}:{{log.line}}] {{log.message}}</td>
      </tr>
    }
  </tbody>
</table>
